body {
  background-color: #ffe4b5;
  position: relative;
  font-family: sans-serif;
}

.snake-game {
  border: 10px solid black;
  width: 400px;
  height: 400px;
  background-color: white;
  z-index: 10;
}

ul {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

li {
  width: 20px;
  height: 20px;
  list-style: none;
}

.snake {
  background-color: green;
}

.apple {
  background-color: red;
}

h1 {
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description {
  font-size: 16px;
}

.modal {
  position: fixed;
  left: 184px;
  top: 120px;
  border: 1px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.modal p {
  text-align: center;
}

.showing {
  z-index: 50;
}

.hidden {
  z-index: 0;
}
