.snake-game {
  border: 10px solid black;
  width: 400px;
  height: 400px;
}

ul {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

li {
  width: 20px;
  height: 20px;
  list-style: none;
}

.snake {
  background-color: green;
}
