body {
  background-color: #ffe4b5;
  font-family: sans-serif;
}

.snake-game {
  border: 10px solid black;
  width: 400px;
  height: 400px;
  background-color: white;
  margin: auto;
  position: relative;

}

ul {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

li {
  width: 20px;
  height: 20px;
  list-style: none;
}

.snake {
  background-color: green;
}

.apple {
  background-color: red;
}

h1 {
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.description {
  font-size: 16px;
}

.modal {
  position: fixed;
  left: 43.05%;
  top: 100px;
  width: 128px;
  border: 1px solid black;
  padding: 20px;
  margin: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 50;
}

.modal p {
  text-align: center;
}
